<html>
 <body>
  <h2>do not set position</h2>

   <p>picture
{%load staticfiles %}
 <img src="{% static "photo/show.jpg" %}" alt="picture"/> in text</p>

   <h2>have set position:</h2>

   <p>pic <img src="/photo/eg_cute.gif"> in text</p>
   <p>pic <img src ="/photo/eg_cute.gif" align="middle"> in text</p>

   <p>pic <img src ="photo/eg_cute.gif" align="top"> in text</p>

   <p>be attention bottom default</p>
   <div>
     <form method="get" action="localhost:8080/trans>
      <input name="name" type="text"/>
      <input type="submit" name="bb" value="submit"/>
     </form>
  </div>
 </body>
</html>
